<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/"><%= image_tag("logo.png", height: '50', width: '50') %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span class="caret"></span></a>
                </li>
                <li class="nav-item">
                    <%= link_to "Product", user_products_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <form class="form-inline">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
                <li class="nav-item" data-controller="cart">
                    <%= link_to "CART(#{items_in_cart})", new_user_order_path, class: "nav-link", id: "cart" %>
                </li>
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label"><%= current_user.username %><span class="caret"></span></a>
                    </li>
                <% end %>
                </ul>
            </div>
        </nav>
    </div>
</header>